* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.container {
  display: block;
  width: 50%;
  margin: 20px;
}

h3 {
  padding: 10px;
  text-align: left;
  color: #111;
}

textarea {
  height: 15rem;
  padding: 15px;
  width: 100%;
}
